@page
@model SimWeb.Pages.SimulationModel

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Symulacja</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>

    <main class="main-section">
        <p>Tu będzie wyświetlana symulacja.</p>
    </main>
</body>
</html>
