@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Symulacja</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>
    <!-- Menu na górze -->
    <header>
        <nav>
            <ul>
                <li><a href="/" class="@((ViewData["ActivePage"] as string) == "Home" ? "active" : "")">Strona Główna</a></li>
                <li><a href="/Simulation" class="@((ViewData["ActivePage"] as string) == "Simulation" ? "active" : "")">Symulacja</a></li>
            </ul>
        </nav>
    </header>


    <!-- Główna zawartość strony -->
    <main>
        @RenderBody()
    </main>

    <!-- Stopka -->
    <footer>
        <p>&copy; 2025 Symulacje. Wszelkie prawa zastrzeżone.</p>
    </footer>
</body>
</html>
